$cWhite:   #fff;
$cGray01:  #dadaed;
$cGray02:  #a2a2af;
$cGray03:  #f9f9fb;
$cBlue01:  #652ae6;
$cBlue02:  #7841f4;
$cBlue03:  #8658eb;
$cGreen01: #1bfec0;
$cRed01:   #eb5757;
$cDark01:  #202020;
$cDark02:  #242424;
$cDark03:  #333333;
$cDark04:  #2F3030;
$cBlack:   #000;
